h1{
	text-align: center;
	font-family: Helvetica;
	background-color:red;
}

h3{
	text-align: center;
	font-family: Helvetica;
}	

body{
background-color:red;
}		

#menu > ol {
	list-style: none;
	margin: 10px;
	width: 2600px;
	font-family: sans-seriff;
}	

#menu > ol > li{
	display:block;
	width:225px;
	text-align:center;
	float:left;
	margin: auto;
	border:1px solid #000;
	background-color: red;
	top:100px;
}	


