body {font-family: Arial, Helvetica, sans-serif;
		background-color: orange;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

h1{
	text-align: center;
	font-family: Helvetica;
}	

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
ul > li{
font-weight:bold;	
} 	

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  margin-top:100px;
  border:5px solid black;
  padding: 5px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

.container > class{
position: fixed;
bottom:100px;	
}

.message {
  border: 1px black solid;
  margin: 10 10;
  padding: 5 5;
  width: 300px;
  color: white;
}

.success_account {
  background-color: #1E9E1E;
}

.bad_error {
  background-color: #B90000;
}

#menu > ol {
	list-style: none;
	margin: 10px;
	width: 1500px;
	font-family: sans-seriff
}	

#menu > ol > li{
	display:block;
	width:150px;
	text-align:center;
	float:left;
	margin: auto;
	border:1px solid #000;
	background-color: red;
	top:100px;
}	
