h1{
	text-align: center;
	font-family: Helvetica;

}

body{
max-width: 100%;	
}

.profile > *{
color:white;	
	
}	

.logout{
background-color:white;	
	
} 	
	

.current_page{
  border: 10px black solid;
  position:relative;
  width: 35%;
  top: 100px;
  margin: 2 2;
  text-align:center;
  background: white;
}

.main{
border: 10px black solid;	
position: relative;
width: 90%;
top: 125px;

}	

.main > div{
border: 5px black solid;	
background-color:red;

}

.content{
height:200px;

}	

.content > a >  img{
width:450px;
height:200px;
position:relative;
}


.rating{
display:inline-block;
background-color:white;
}	

.footer {
  position: relative;
  bottom: -200px;
  width: 100%;
  height: 2.5rem; 
  text-align:center;
  background-color:blue;
  border: 10px black solid;
}


.footer > ul{
	list-style: none;
}
	
.footer > li{
  display: inline;
  border-left: solid 1px #758190;
  padding: 0 5px;
  color: white;
}

.footer > li.first {
  border-left: none;
}

h3{
	text-align: center;
	font-family: Helvetica;
}	

body{
background-color:orange;
}		

#menu > ol {
	list-style: none;
	margin: 10px;
	width: 1500px;
	font-family: sans-seriff;
}	

#menu > ol > li{
	display:block;
	width:150px;
	text-align:center;
	float:left;
	margin: auto;
	border:1px solid #000;
	background-color: red;
	top:100px;
}	

.rating{
border: 5px;
position:relative;
left: 55%;
border: solid black 1px;
width:200px;
height:100px;
top: -100px;
text-align: center;
line-height: 100px
}

.profile{
float:right;
border: 5px black solid;	
width: 15%;
right:100px;
text-align: center;
color:white;
position: relative;
bottom:200px;
background-color: black;
}	